body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 217, 255);
    color: #333;
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 15px rgb(0, 0, 0, 0.10);
}

h1{
    font-size: 1.4rem;
    color: #1a1a1a;
    margin-top: 0;
    border-bottom: 2px solid #4f46e5;
    padding-bottom: 10px;
}
label{
    font-weight: 600;
    font-size: 1.2rem;
    color: #4b5563
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1.5px solid #d1d5db;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.2s;
}
input[type="text"]:focus{
    border-color: #4f46e5;
    outline: none;
}
button{
    width: 100%;
    background-color: #4f46e5;
    color: #d1d5db;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}
button :hover{
    background-color: #4f46e5 
}
h3{
    font-size: 0.9rem;
    color: #4b5563;
    font-weight: normal;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
ul li{
    background: #d1d5db;
    padding: 8px 12px;
    border: 2px solid #e5e7eb;
    margin-bottom: 6px;
    font-size: 0.95rem;
}